<% if @config[:show_banner] and !stable_version?(current_branch) %>
<div class="d-lg-block">
  <div class="admonition-wrapper note d-none" id="banner-close">
    <div class="admonition alert alert-banner alert-dismissible fade show text-center" role="alert">
      <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
      Tell us how you feel about GitLab.
      <a href="https://gitlab.fra1.qualtrics.com/jfe/form/SV_bC77lIudi78oZBH" target="_blank" rel="noopener noreferrer">
      Take our two minute survey!
      </a>
      <i class="fa fa-gitlab fa-fw" style="color:rgb(225,67,41); font-size:.85em" aria-hidden="true"></i>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <script type="application/javascript" src="<%= @items['/assets/javascripts/banner.*'].path %>"></script>
</div>
<% end %>
